#contact-me-section {
  border-bottom: 0;
  .contact-block {
    background: $backgroundGrey;
    border: 1px solid $borderGrey;
    padding: 10px;
    margin: 10px 0;
    @include mobile {
      margin: 10px 0 0;
    }
    .content {
      font-size: 1.35em;
    }
    h6 {
      @include mobile {
        padding-bottom: 10px;
      }
      i {
        padding-right: 5px;
      }
    }
    a {
      font-size: 1.75em;
      color: $textColor;
      &:hover {
        text-decoration: underline;
        color: darken($textColor, 20);
      }
    }
    .social-links {
      a {
        padding-right: 20px;
        line-height: 1.25;
      }
      i {
        padding-right: 5px;
        line-height: 1.25;
      }
    }
  }
}
