#experience-section {
  .item {
    margin-bottom: 20px;
    .header,
    .body {
      padding: 2px;
    }
    .header {
      padding: 10px;
      background: $backgroundGrey;
      border: 1px solid $borderGrey;
      margin: 10px 0;
    }
  }
}
