$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "fonts";
@import "colors";
@import "breakpoints";
@import "clearfix";

/************************************************************************
 * center vertically and/or horizontally an absolute positioned element *
 ************************************************************************/

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

/********************
 * BACKGROUND COVER *
 ********************/

@mixin background {
  background: $grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}

/****************
 * BASIC BUTTON *
 ****************/

@mixin button($light, $dark, $inset, $font) {
  transition: all 0.3s ease;
  background-color: $light;
  background: -webkit-linear-gradient(180deg, $dark 10%, $light 90%);
  background:    -moz-linear-gradient(180deg, $dark 10%, $light 90%);
  background:     -ms-linear-gradient(180deg, $dark 10%, $light 90%);
  background:      -o-linear-gradient(180deg, $dark 10%, $light 90%);
  background:         linear-gradient(180deg, $dark 10%, $light 90%);
  color: $font;
  &:hover,
  &:focus,
  &:visited {
    background-color: $dark;
    background: -webkit-linear-gradient(180deg, $light 10%, $dark 90%);
    background:    -moz-linear-gradient(180deg, $light 10%, $dark 90%);
    background:     -ms-linear-gradient(180deg, $light 10%, $dark 90%);
    background:      -o-linear-gradient(180deg, $light 10%, $dark 90%);
    background:         linear-gradient(180deg, $light 10%, $dark 90%);
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 0 0 6px 3px $inset;
  }
}


/***********************
 * BOOTSTRAP 5 COLUMNS *
 ***********************/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
  .col-lg-15 {
      width: 20%;
      float: left;
  }
}

/***************
 * BASIC STYLE *
 ***************/

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.container,
.container-fluid,
.row {
  margin: 0;
  padding: 0;
}

// html * {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

html{
  height: 100%;
  font-size: 16px;

  body {
    background-color: $white;
    font-size: 62.5%;
    color: $textColor;
    font-family: $textFont;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: $titleColor;
  font-family: $titleFont;
  font-weight: 600;
  small {
    font-weight: normal;
    line-height: 1;
    color: #999999;
  }
}

h1 {
  font-size: 50px;
  line-height: 55px;
  padding: 0;
  @include mobile {
    font-size: 30px;
    line-height: 35px;
  }
}

h2 {
  padding: 0;
  display: inline-block;
  margin: 0 0 40px 0;
  padding: 8px 30px 9px 130px;
  position: relative;
  text-align: right;
  color: #fff;
  background: #000;
  @include mobile {
    margin: 0 0 10px 0;
    padding: 9px 10px 9px 40px;
    text-align: left;
    font-size: 24px;
  }
}

h3 {
  font-size: 3.75em;
  line-height: 1.15;
  @include tablet {
    font-size: 2.75em;
  }
}

h6 {
  font-size: 1.85em;
  line-height: 1.4;
}
p {
  font-size: 2em;
  @include tablet {
    font-size: 1.65em;
  }
}
.arrow_title {
  position: absolute;
  border-bottom: 25px solid transparent;
  border-left: 35px solid #000;
  border-top: 25px solid transparent;
  width: 37px;
  height: 0px;
  top: 0;
  right: -37px;
  @include mobile {
    border-bottom: 22px solid transparent;
    border-top: 22px solid transparent;
  }
}

a {
  transition: all 0.3s ease;
  cursor: pointer;
  &:visited,
  &:focus {
    text-decoration:none;
  }
  &:hover {
    text-decoration:underline;
  }
}

div[class^="col-"], div[class*=" col-"] {
  padding: 0;
}

.container {
  margin: 0 auto;
  @include mobile {
    padding: 10px;
  }
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.section {
  padding: 40px 0;
  border-bottom: 1px solid $borderGrey;
  @include mobile {
    padding: 10px 0;
  }
}

@import "navbar";
@import "about-me";
@import "skills";
@import "education";
@import "experience";
@import "contact-me";
